.commit-info {
    margin: 20px;
    padding: 15px;
    display: inline-block;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    position: relative;
}

/* .commit-info::after {
    content: '▲';
    font-size: 40px;
    color: white;
    position: absolute;
    text-align: center;
    left: calc(50% - 20px);
    bottom: calc(100% - 9px);
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    z-index: -1;
    transform: scale(1.5, 1);
} */

.loading p {
    margin: 0;
}

.links a {
    color: #00a3ff;
}

.info p {
    margin: 8px 0;
}

.info .commit {
    font-family: monospace;
}

.info .user {
    font-weight: bold;
    font-size: 15px;
    position: relative;
}

.info .title {
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
}

.info .body {
    margin-bottom: 0;
}