:host {
    position: absolute;
}

.commit-info {
    position: absolute;
    z-index: 1;
    margin-top: -30px;
    display: inline-block;
    min-width: 400px;
}

.commit-info.hidden {
    display: none;
}

.container {
    transform: translateX(-50%);
    padding: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background: #fff;
}

.no-good .title {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
}

.no-good .message:last-child {
    margin-bottom: 0;
}

.actions {
    margin-bottom: 8px;
}

.actions .close {
    float: right;
}

.info p {
    margin: 8px 0;
}

.info .commit {
    font-family: monospace;
}

.info .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.info .username {
    position: relative;
    top: -1px;

    display: inline-block;
    margin-left: 8px;
    font-weight: bold;
    font-size: 15px;
}

.info .profile-image {
    max-height: 30px;
    border-radius: 3px;
}

.info .title {
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
}

.links {
    text-align: right;
}

.links a {
    color: #00a3ff;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}