.DS_STORE
.eslintcache
*.swp
*~

/node_modules
/packages/*/build/
/packages/*/coverage/
/packages/*/node_modules/
/benchmark_results/
/packages/*/benchmark_results/

coverage
lerna-debug.log
npm-debug.log
npm-debug.log*
yarn-error.log*
yarn.lock
