.DS_STORE
.eslintcache
*.swp
*~

/node_modules
/packages/*/build/
/packages/*/coverage/
/packages/*/node_modules/
/examples/*/node_modules/
/__benchmark_results__/
/packages/*/__benchmark_results__/
/examples/*/__benchmark_results__/

coverage
lerna-debug.log
npm-debug.log
npm-debug.log*
yarn-error.log*
yarn.lock
