.control {
    display: inline-block;
    position: relative;
    overflow: visible;
    text-align: left;
    min-width: 200px;
    margin: 0 20px;
}

.control.open {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.control.closed .items {
    display: none;
}

.control.open .items {
    display: block;
}

.items {
    z-index: 1;
    width: calc(100% - 2px);
    position: absolute;
    
    margin-top: -1px;

    border-radius: 0 0 3px 3px;
    
    border: 1px solid #8c8c8c;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    
    overflow: scroll;
}

.selected-item, .item {
    cursor: pointer;
}

.selected {
    border: 1px solid #8c8c8c;
    border-radius: 3px;
    padding: 8px 12px;
    position: relative;
}

.selected img {
    float: right;
    margin-top: 5px;
}

.control.open .selected img {
    transform: rotate(180deg);
}

.control.open .selected {
    border-radius: 3px 3px 0 0;
}

.item {
    padding: 8px 12px;
    color: 000;
}

.item:hover {
    background: #00a3ff;
    color: #fff;
}