:host {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    height: 100vh;
}

.brand h1,
section {
    color: #ffffff;
}

.brand a {
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 3rem 0;
}

h3 {
    margin: 0;
    margin-bottom: 8px;
    padding-left: 24px;
    /* font-weight: normal; */
    text-transform: uppercase;
}

.item {
    padding: 16px 24px;
    cursor: pointer;

    font-size: 1.2rem;
}

.item:hover {
    background: #7d95a7;
}

.item.selected {
    background: #0b2331;
}
