:host {
    background: #000;
}

.brand h1 {
    font-size: 64px;
    color: #ff00a8;
    font-weight: bold;
    text-align: center;
}

section {
    margin-top: 55px;
    color: #fff;
}

h3 {
    margin: 0;
    margin-left: 24px;
    margin-bottom: 8px;
    font-weight: normal;
    text-transform: uppercase;
}

.item {
    background: #4a4a4a;
    padding: 12px 24px;
    cursor: pointer;
}

.item:hover {
    background: #555;
}

.item.selected {
    background: #00a3ff;
}

.item.selected:hover {
    background: #39b8ff;
}