.blog ul.nav__list::before {
    content: 'Recent Posts';
    margin: 0;
    display: block;
    font-size: 1.4rem;
    line-height: 0.8rem;
    padding: 2rem;
    color: #666;
    font-weight: bold;
}

.blog nav.nav ul.nav__list {
    background-color: white;
    border-left: 1px solid #eee;
}

.blog .icon-angle {
    display: none;
}

.blog nav {
    margin-top: 4rem;
}

.container.blog {
    flex-direction: row-reverse;
}

.blog-header {
    margin-bottom: 3rem;
}

.blog-header h1 {
    margin-bottom: 0;
}

.blog-header h2 {
    margin-top: 0;
    font-size: 2rem;
}

.blog-header h3 {
    font-size: 1.2rem;
}

.blog-header time:before {
    content: ' | ';
}
