/* ======================================================== */
/* DOCS */
/* ======================================================== */

dl,
ol,
ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
    font-size: 90%;
    margin: 1.5rem 0 1.5rem 3rem;
}

ol {
    list-style: decimal inside;
}

ul {
    list-style: circle inside;
}

dd,
dt,
li {
    margin-bottom: 1rem;
}

fieldset,
input,
select,
textarea {
    margin-bottom: 1.5rem;
}

dl,
figure,
form,
ol,
p,
pre,
table,
ul {
    margin-bottom: 2.5rem;
}

table {
    border-spacing: 0;
    width: 100%;
}

td,
th {
    border-bottom: 0.1rem solid #e1e1e1;
    padding: 1.2rem 1.5rem;
    text-align: left;
}

td:first-child,
th:first-child {
    padding-left: 0;
}

td:last-child,
th:last-child {
    padding-right: 0;
}

@media screen and (max-width: 40rem) {
    table {
        border-spacing: 0;
        display: flex;
        width: 100%;
    }

    table thead {
        border-right: solid 0.1rem #e1e1e1;
    }

    table thead td,
    table thead th {
        padding-left: 0;
    }

    table thead td:first-child,
    table thead th:first-child {
        padding-left: 0;
    }

    table thead td:last-child,
    table thead th:last-child {
        padding-right: 1.2rem;
    }

    table tbody {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
    }

    table tbody tr {
        border-right: solid 0.1rem #e1e1e1;
    }

    table tbody tr:last-child {
        border-right: none;
    }

    table td,
    table th {
        display: block;
    }

    table td:first-child,
    table th:first-child {
        padding-left: 1.2rem;
    }

    table td:last-child,
    table th:last-child {
        padding-right: 1.2rem;
    }
}

hr {
    border: 0;
    border-top: 0.1rem solid #ccc;
    margin: 3rem 0;
}

blockquote {
    border-left: 0.3rem solid #d1d1d1;
    margin-left: 0;
    margin-right: 0;
    padding: 1rem 1.5rem;
}

blockquote *:last-child {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

p code, li code {
    font-family: monospace, monospace;
    font-size: 0.9em;
    background-color: rgba(206, 206, 206, 0.3);
    padding: 0.3rem 0.5rem;
    color: #333;
    border-radius: 3px;
}

.custom-block.important,
.custom-block.note,
.custom-block.tip,
.custom-block.todo,
.custom-block.example {
    padding: 1rem 1.5rem;
    margin-bottom: 2.5rem;
    border: 2px solid;
    border-radius: 5px;
}

div.custom-block p.custom-block-title {
    font-weight: 600;
    font-variant: unset;
    font-size: 1.4rem;
}

div.custom-block p {
    margin: 0 0 1rem;
}

.custom-block .custom-block-title {
    font-weight: 600;
    margin-bottom: 0.4rem;
    font-variant: small-caps;
}

.custom-block.important {
    background-color: var(--important-background);
    border-color: var(--important-border);
}

.custom-block.important p a {
    color: var(--important-border);
}

.custom-block.important p a:hover {
    background-color: rgba(224, 0, 46, 0.1);
}

.custom-block.note {
    background-color: var(--note-background);
    border-color: var(--note-border);
}

.custom-block.note p a {
    color: var(--note-border);
}

.custom-block.note p a:hover {
    background-color: rgba(2, 160, 224, 0.1);
}

.custom-block.tip {
    background-color: var(--tip-background);
    border-color: var(--tip-border);
}

.custom-block.tip p a {
    color: #008649;
}

.custom-block.tip p a:hover {
    background-color: rgba(0, 134, 73, 0.1);
}

.custom-block.warning {
    background-color: var(--warning-background);
    border-color: var(--warning-border);
}

.custom-block.example {
    background-color: whitesmoke;
    border-color: purple;
}

/* ======================================================== */
/* CODE */
/* ======================================================== */

div[class*='language-'] {
    position: relative;
}

div[class*='language-'] .highlight-lines {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 1.4;
}

div[class*='language-'] .highlight-lines .highlighted {
    background-color: rgba(255, 237, 21, 0.28);
}

div[class~='language-js']:before {
    content: 'js';
}

div[class~='language-html']:before {
    content: 'html';
}

div[class~='language-css']:before {
    content: 'css';
}

div[class*='language-']:before {
    position: absolute;
    z-index: 3;
    top: 0.2em;
    right: 0.65em;
    font-size: 0.8rem;
    color: hsla(0, 0%, 0%, 0.69);
}

pre[class*='language-'] {
    border-radius: 6px;
}
